/**
 * COLORS: 
 * Paleta de colores utilizada en la app
 */

$yellow: #ffe600;
$dark-gray: #333333;
$gray: #666666;
$medium-gray: #999999;
$soft-gray: #eeeeee;
$blue: #3483fa;
$white: #ffffff;

/**
 * FONT SIZES: 
 * Tamaño de fuentes utilizadas en la app
 */

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-28: 28px;
$font-46: 46px;

/**
 * PADDING - MARGIN: 
 * Tamaño de padding - margin utilizados en la app
 */

$spacer-16: 16px;
$spacer-32: 32px;
$spacer-52: 51px;

/**
 * WIDTH - HEIGHT - BORDER RADIUS: 
 * Tamaño de:  ancho - alto - borde utilizados en la app
 */

$width-height-image-item: 180px;
$border-radius-image-item: 4px;

$width-image-detail: 680px;
