@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");
@import "./styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: $medium-gray;
}

body {
  font-family: "Nunito", apple-system, Helvetica, Roboto, Arial, sans-serif;
  background-color: $soft-gray;
  word-break: break-word;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $white;
  padding: $spacer-16;
  margin-bottom: 3em;
}

input {
  filter: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 1s ease-in-out;
  transition-delay: 5000s;
}
